[Unit]
Description=Sleepy Linux - Boot Wake
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "PWR_ON_CMD"

[Install]
WantedBy=multi-user.target